# TUPLE

In [1]:
t = (2,4,'shs',34.65)

In [2]:
type(t)

tuple

In [3]:
l = [2,4,'shs',34.65]

type(l)
type(t)

In [7]:
l[0:2]

[2, 4]

In [9]:
t[0:2]

(2, 4)

In [10]:
t[::-1]  #reverse the elements

(34.65, 'shs', 4, 2)

In [11]:
t

(2, 4, 'shs', 34.65)

In [12]:
t[::2]

(2, 'shs')

In [13]:
l1=[3,4,5,6,8]

In [14]:
l

[2, 4, 'shs', 34.65]

In [15]:
l1

[3, 4, 5, 6, 8]

In [16]:
l[0]='siva'   #item reassignment

In [17]:
l

['siva', 4, 'shs', 34.65]

In [18]:
t

(2, 4, 'shs', 34.65)

In [19]:
t[0]='siva'   #immutable item reassignment is not possible

TypeError: 'tuple' object does not support item assignment

In [20]:
t1 =('siva',5,86.95)

In [21]:
t1

('siva', 5, 86.95)

In [22]:
t

(2, 4, 'shs', 34.65)

In [23]:
t+t1    #append operation possible in tuple

(2, 4, 'shs', 34.65, 'siva', 5, 86.95)

In [24]:
t1*2

('siva', 5, 86.95, 'siva', 5, 86.95)

In [26]:
t.count(2)

1

In [27]:
t1.index('siva')

0

When we have to use tuple and list?

Tuple: whereever the data won't be changed.

In [29]:
t2 =(3,6,74,('sgs',444,437.768)) #tuple inside tuple

In [30]:
t3 =(['sshs',64,7464],(4,7,7),'skgf')  #list inside tuple

Item assignment is possible to list within the tuple

In [31]:
t3[0]

['sshs', 64, 7464]

In [32]:
t3[0][1]='fhf'

In [33]:
t3

(['sshs', 'fhf', 7464], (4, 7, 7), 'skgf')

In [34]:
t+l  #heterogenious data types won't be concatinate

TypeError: can only concatenate tuple (not "list") to tuple

# SET   unique elements

In [35]:
l=[4,3,4,634,2,3,3,8,8,5,6,48]

In [36]:
set(l)   #removes all duplicates

{2, 3, 4, 5, 6, 8, 48, 634}

In [37]:
s = {}  #without elements in {} treated as dictionary

In [38]:
type(s)

dict

In [39]:
s1 = {3,3,6,5.8,9} #with elements in {} treated as set

In [40]:
type(s1)

set

In [41]:
s1

{3, 5.8, 6, 9}

In [43]:
s1

{3, 5.8, 6, 9}

SET is unordered collection

In [45]:
s1[0:2]

TypeError: 'set' object is not subscriptable

In [46]:
s1

{3, 5.8, 6, 9}

In [47]:
s1.add('dhd')

In [48]:
s1

{3, 5.8, 6, 9, 'dhd'}

In [49]:
s1.add([3,5,'gfh']) #set allow only primitive and immutable datatypes

TypeError: unhashable type: 'list'

In [50]:
s1.add((3,5,6))

In [51]:
s1

{(3, 5, 6), 3, 5.8, 6, 9, 'dhd'}

In [52]:
s1.removee(4)

AttributeError: 'set' object has no attribute 'removee'

In [53]:
s1.remove(3)

In [54]:
s1

{(3, 5, 6), 5.8, 6, 9, 'dhd'}

In [55]:
s1.discard(9)

In [56]:
s1

{(3, 5, 6), 5.8, 6, 'dhd'}

In [57]:
s1.discard(100)

In [58]:
{'siva','SIVA'}

{'SIVA', 'siva'}

# DICTIONARY

In [59]:
d={}

In [60]:
type(d)

dict

In [61]:
d = {4:'siva'}  # key value pairs

In [62]:
d1 = {'key1': 446,'key2':'diva',34:[4,66,7]}

In [63]:
l = [4,66,7]

In [64]:
d1['key1']

446

In [65]:
d1[34]

[4, 66, 7]

In [66]:
d1[34][1]

66

In [67]:
d

{4: 'siva'}

In [68]:
d1

{'key1': 446, 'key2': 'diva', 34: [4, 66, 7]}

In [70]:
d2 = {#:34}

SyntaxError: unexpected EOF while parsing (1284619088.py, line 1)

In [71]:
d3 = {_4: 'siva'}

In [72]:
d3[_4]

'siva'

In [73]:
d4={'key':(3,5,7)}

In [74]:
d5 = {'key1':[3,5,5],'key2':'siva','key1':45} # new assignment will update and store

In [75]:
d5['key1']

45

In [76]:
d6 = {'*+++':'siva'}

In [77]:
d7 = {*++:'siva'}

SyntaxError: invalid syntax (199097506.py, line 1)

In [115]:
d8 = {'name':'sivananda','age':24,'mail':'siva@gmail.com','key1':(2,3,5),'key2':[2,64,7],'key3':{'shs',5,3}}

In [79]:
d8

{'name': 'sivananda',
 'age': 24,
 'mail': 'siva@gmail.com',
 'key1': (2, 3, 5),
 'key2': [2, 64, 7],
 'key3': {3, 5, 'shs'}}

In [80]:
d8.keys() #list of all keys

dict_keys(['name', 'age', 'mail', 'key1', 'key2', 'key3'])

In [81]:
d8.values()  #list of all values

dict_values(['sivananda', 24, 'siva@gmail.com', (2, 3, 5), [2, 64, 7], {'shs', 3, 5}])

In [82]:
d8.items()  # list of all key value pairs in tuple formate

dict_items([('name', 'sivananda'), ('age', 24), ('mail', 'siva@gmail.com'), ('key1', (2, 3, 5)), ('key2', [2, 64, 7]), ('key3', {'shs', 3, 5})])

In [83]:
type(d8)

dict

In [84]:
type(d8.items())

dict_items

Item assignment

In [86]:
d8

{'name': 'sivananda',
 'age': 24,
 'mail': 'siva@gmail.com',
 'key1': (2, 3, 5),
 'key2': [2, 64, 7],
 'key3': {3, 5, 'shs'}}

In [89]:
d8['key4']='siva'  #adding element

In [90]:
d8

{'name': 'sivananda',
 'age': 24,
 'mail': 'siva@gmail.com',
 'key1': (2, 3, 5),
 'key2': [2, 64, 7],
 'key3': {3, 5, 'shs'},
 'key4': 'siva'}

In [91]:
d8['name'] = 'nanda' #updating existing element

In [92]:
d8

{'name': 'nanda',
 'age': 24,
 'mail': 'siva@gmail.com',
 'key1': (2, 3, 5),
 'key2': [2, 64, 7],
 'key3': {3, 5, 'shs'},
 'key4': 'siva'}

In [116]:
del d8['key1']

In [94]:
d8

{'name': 'nanda',
 'age': 24,
 'mail': 'siva@gmail.com',
 'key2': [2, 64, 7],
 'key3': {3, 5, 'shs'},
 'key4': 'siva'}

In [95]:
del d8  #delete entire dictionary

In [96]:
d8

NameError: name 'd8' is not defined

In [99]:
d9={'name': 'nanda',
 'age': 24,
 'mail': 'siva@gmail.com',
 'key2': [2, 64, 7],
 'key3': {3, 5, 'shs'},
 'key4': 'siva'}

In [100]:
d9

{'name': 'nanda',
 'age': 24,
 'mail': 'siva@gmail.com',
 'key2': [2, 64, 7],
 'key3': {3, 5, 'shs'},
 'key4': 'siva'}

In [101]:
d9[(2,4,5)]= 'siva'

In [102]:
d9

{'name': 'nanda',
 'age': 24,
 'mail': 'siva@gmail.com',
 'key2': [2, 64, 7],
 'key3': {3, 5, 'shs'},
 'key4': 'siva',
 (2, 4, 5): 'siva'}

In [103]:
d9.get('age')

24

In [104]:
da ={'key1':'diva','key2':'nanda'}

In [105]:
db = {'key3':'edgd','key4':[53,7,7]}

In [106]:
da.update(db)

In [107]:
da

{'key1': 'diva', 'key2': 'nanda', 'key3': 'edgd', 'key4': [53, 7, 7]}

In [108]:
db

{'key3': 'edgd', 'key4': [53, 7, 7]}

In [109]:
da+db

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [110]:
da

{'key1': 'diva', 'key2': 'nanda', 'key3': 'edgd', 'key4': [53, 7, 7]}

In [111]:
db

{'key3': 'edgd', 'key4': [53, 7, 7]}

In [112]:
key = ('name','age','id')
value = ('siva')

In [113]:
d = d.fromkeys(key,value)

In [114]:
d

{'name': 'siva', 'age': 'siva', 'id': 'siva'}